.pages-1 a,
.div_pages-1 {
  background-image: unset;
  color: unset;
}

.pages-3 a,
.div_pages-3 {
  background-image: unset;
  color: unset;
}

.adventure-1 a,
.div_adventure-1 {
  background-image: unset;
  color: unset;
}

.adventure-2 a,
.div_adventure-2 {
  background-image: unset;
  color: unset;
}

.pages-2 {
  position: relative;
  height: 54px;
  width: 114px;
}

.pages-2 a {
  color: #f2e9df;
}

.div_pages-2 {
  background-image: url(/images/small_selctor-2.png);
  background-size: contain;
  height: 54px;
  width: 114px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-size: 69%;
}

h1,
h2 {
  width: 350px;
}

p:nth-of-type(1),
p:nth-of-type(2),
p:nth-of-type(3) {
  max-width: 420px;
}

.AboutUs_img {
  right: 100px;
  float: right;
  height: 600px;
  padding: 0px 0px 20px 20px;
  object-fit: scale-down;
}

/* @media only screen and (max-width: 1160px) {
  .AboutUs_img {
    right: 0px;
    padding-left: 20px;
  }
} */
