.pages-1 a,
.div_pages-1 {
  background-image: unset;
  color: unset;
}

.pages-2 a,
.div_pages-2 {
  background-image: unset;
  color: unset;
}

.pages-3 a,
.div_pages-3 {
  background-image: unset;
  color: unset;
}

.adventure-2 a,
.div_adventure-2 {
  background-image: unset;
  color: unset;
}

.adventure-1 {
  width: 134px;
  height: 49px;
}

.adventure-1 a {
  color: #f2e9df;
}

.div_adventure-1 {
  background-image: url(/images/big_selector.png);
  background-size: contain;
  /* width: 134px;
  height: 49px; */
  background-repeat: no-repeat;
}
