.pages-1 a,
.div_pages-1 {
  background-image: unset;
  color: unset;
}

.pages-2 a,
.div_pages-2 {
  background-image: unset;
  color: unset;
}

.pages-3 a,
.div_pages-3 {
  background-image: unset;
  color: unset;
}

.adventure-1 a,
.div_adventure-1 {
  background-image: unset;
  color: unset;
}

.adventure-2 a,
.div_adventure-2 {
  background-image: unset;
  color: unset;
}

.fa-shopping-cart {
  color: #788846;
}

.cart-header {
  display: flex;
  justify-content: center;
}

.cart-product {
  display: flex;
  justify-content: center;
}
.cart-product_2 h2 {
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-size: 0.7;
}
