.pages-1 a,
.div_pages-1 {
  background-image: unset;
  color: unset;
}

.pages-2 a,
.div_pages-2 {
  background-image: unset;
  color: unset;
}

.adventure-1 a,
.div_adventure-1 {
  background-image: unset;
  color: unset;
}

.adventure-2 a,
.div_adventure-2 {
  background-image: unset;
  color: unset;
}

.pages-3 {
  position: relative;
  height: 54px;
  width: 114px;
}

.pages-3 a {
  color: #f2e9df;
}

.div_pages-3 {
  background-image: url(/images/small_selctor-2.png);
  background-size: contain;
  height: 54px;
  width: 114px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-size: 69%;
}

.contact-form {
  position: relative;
  top: -10px;
  margin: auto;
}
