@font-face {
  font-family: "BaksoSapi";
  src: url("../fonts/BaksoSapi.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
}

h2,
h3 {
  font-family: BaksoSapi, sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1.4em;
}

.hashtag {
  font-weight: bold;
}

header {
  display: flex;
  margin: 100px 80px 90px 80px;
  align-items: center;
}

.splashIcon {
  width: 26%;
  object-fit: scale-down;
  min-width: 260px;
  position: relative;
  left: 0;
  top: 0;
}

.adventuress {
  width: 29%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 0;
  top: 0;
}

.adventurer {
  width: 29%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 0;
  top: 0;
}

ul li {
  /* background-color: violet; */
  display: inline-flex;
  font-weight: bold;
  white-space: nowrap;
}

ul {
  display: inline-flex;
  padding: 0;
}

.adventure {
  position: absolute;
  left: 37.5%;
  display: flex;
}

.adventure-1 {
  position: relative;
  left: 18px;
  top: 1px;
}

.div_adventure-1 {
  /* opacity: 0; */
  background-image: url(/images/big_selector.png);
  background-size: contain;
  height: 49px;
  width: 134px;
  background-repeat: no-repeat;
  background-position-y: -35%;
}

.adventure-2 {
  position: relative;
  left: 18px;
  top: 1px;
}

.div_adventure-2 {
  /* background-color: springgreen; */
  background-image: url(/images/big_selector.png);
  background-size: contain;
  height: 49px;
  width: 134px;
  background-repeat: no-repeat;
  background-position-y: -35%;
}

.pages {
  position: absolute;
  right: 16%;
}

.pages a {
  padding: 0px 6px;
  /* background-color: aqua; */
}

.icons {
  position: absolute;
  right: 0;
  margin-right: 80px;
  /* background-color: violet; */
}

.icons i {
  padding: 0px 4px 0px 8px;
  /* background-color: silver; */
}

.icons .fa-bars {
  /* background-color: teal; */
  display: none;
}

main {
  margin-left: 80px;
  margin-right: 80px;
}

.discount-section {
  position: relative;
  display: flex;
  margin-bottom: 110px;
}

.discount__image {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 60%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  position: relative;
}

.discount__text {
  max-width: 430px;
  min-width: 250px;
  position: relative;
  flex: 4;
  padding-right: 1em;
}

.discount__text h2 {
  margin: 0;
}

.insta-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 60em;
  flex: 3;
  right: 0;
  position: relative;
}

.insta img {
  display: flex;
  width: 100%;
}

.instagramlogo img {
  max-width: 130px;
  min-width: 70px;
}
.instagramlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 7px;
}

.environment {
  margin-bottom: 100px;
}

.environment__img {
  width: 100%;
}

.instagramlogo_2 {
  display: none;
}

@media only screen and (max-width: 990px) {
  header {
    display: block;
  }

  .adventure {
    position: relative;
    left: 0;
    justify-content: space-evenly;
  }

  .pages {
    position: absolute;
    right: 20%;
  }

  .discount-section {
    display: block;
  }

  .instagramlogo {
    display: none;
  }

  .insta-container {
    width: 100%;
  }

  .instagramlogo_2 img {
    max-width: 100px;
    min-width: 70px;
  }

  .instagramlogo_2 {
    position: absolute;
    display: inline;
    right: 0;
    margin-top: 10px;
  }

  .discount__text {
    max-width: 750px;
    padding-right: unset;
  }
}

@media only screen and (max-width: 790px) {
  header {
    margin: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin: 0px 20px 0px 20px;
  }

  nav {
    margin: auto;
  }

  ul {
    display: inline-block;
  }

  .adventure {
    display: flex;
    position: unset;
  }

  /* .adventure-1 {
    margin-right: 20px;
  }

  .adventure-2 {
    margin-left: 20px;
  } */

  .pages {
    display: none;
  }

  .icons .fa-bars {
    /* background-color: teal; */
    display: inline;
    position: absolute;
    left: 0;
    top: 40px;
    margin-left: 20px;
  }

  .fa-search {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 60px;
  }

  .fa-shopping-cart {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 20px;
  }

  .icons {
    position: unset;
  }

  .discount__text {
    max-width: 450px;
  }
}

footer {
  background-image: url(/images/Artboard\ 2.png);
  background-size: cover;
  min-width: 300px;
  min-height: 739px;
  width: 100%;
  position: absolute;
  right: 0%;
}

.Footer-style {
  margin: auto;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 280px;
  justify-content: left;
  font: 0.9em/2.5em Source Sans Pro;
  color: #f2e9df;
  align-items: center;
}

.Footer-style p a {
  text-decoration: underline;
}

.Footer-style a {
  text-decoration: none;
  color: #f2e9df;
  padding: 10px;
  /* background-color: teal; */
}

.Footer-style i {
  padding: 10px;
}

.footer-copyright {
  padding: 10px;
  font: 0.8em/1.5em Source Sans Pro;
}

@media only screen and (max-width: 475px) {
  .Footer-style {
    top: 190px;
    flex-direction: column;
    width: 300px;
  }

  .environment__p2 {
    display: none;
  }
}

/* Page: Adventuress */
