@font-face {
  font-family: "../fonts/BaksoSapi 2.otf";
  src: url("../fonts/BaksoSapi 2.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

h2,
h3 {
  font-family: BaksoSapi, sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1.5em;
}

span {
  font-weight: bold;
}

/* header  */

.splashIcon {
  width: 30%;
  height: 30%;
  min-width: 320px;
  object-fit: scale-down;
  align-self: center;
  padding-right: 8px;
}

header {
  /* background-color: white; */
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  flex-grow: 1;
}

ul {
  padding: 0;
  align-items: center;
  list-style: none;
  display: flex;
}

nav ul li {
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  padding: 4px;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.current {
  opacity: 50%;
}

nav ul li i,
nav ul li a {
  padding: 5px;
}

.div_1 {
  margin-left: auto;
}

.div_2 {
  margin-left: auto;
}

.div_3 {
  display: none;
}

.div_4 {
  margin-left: auto;
}

@media only screen and (max-width: 1084px) {
  .div_3 {
    display: inline;
    margin-left: auto;
  }
  .div_4 {
    margin-left: 0;
  }
  .div_2 {
    display: none;
  }
  .splashIcon {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 546px) {
  nav ul {
    display: inline;
  }
  .splashIcon {
    min-width: 280px;
  }
  nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0;
  }

  .discount__text {
    min-width: 310px;
  }

  .div_1 {
    padding: 15px 0px 15px 0px;
    position: relative;
    left: 0;
  }

  .div_4 {
    position: relative;
    right: 0;
    display: inline-flex;
  }

  nav ul li a {
    padding: 0px;
  }

  .splashIcon {
    padding-right: 0px;
  }
}

main {
  margin-left: 9%;
  margin-right: 9%;
}

.discount-section {
  /* background-color: skyblue; */
  position: relative;
  top: 100px;
  display: flex;
  margin-bottom: 120px;
}

.discount__image {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 50%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  position: relative;
}

.discount__text {
  position: relative;
  /* background-color: violet; */
  flex: 1.5;
  padding-right: 1em;
  font-size: 1.5em;
}

.discount__text h2 {
  margin: 0;
}

.instagramlogo img {
  max-width: 200px;
  min-width: 30px;
}
.instagramlogo {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  padding-right: 7px;
}

.insta-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 2;
}

.insta img {
  display: flex;
  width: 100%;
  /* margin-bottom: auto; */
}

.environment {
  margin-bottom: 100px;
}

.environment p {
  font-size: 1.2em;
}

.environment__img {
  width: 100%;
}

@media only screen and (max-width: 1084px) {
  .discount-section {
    display: contents;
  }
  .instagramlogo {
    display: none;
  }

  .discount__text {
    margin-bottom: 40px;
  }

  .environment {
    position: relative;
    top: 20px;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 739px;
  background: transparent url("../images/Artboard\ 2.png") 0% 0% no-repeat;
  font-size: 1.5em;
}

.FooterLinks {
  top: 369.5px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #f2e9df;
  letter-spacing: 0px;
  font: normal normal normal 0.9em/59px Source Sans Pro;
}

.left,
.right {
  text-align: left;
  margin: 10px;
}

.right a {
  text-decoration: none;
  color: #f2e9df;
}

footer i {
  margin-left: 10px;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .FooterLinks {
    flex-direction: column;
    top: 300px;
  }
  .left,
  .right {
    text-align: center;
  }
}
