@font-face {
  font-family: "BaksoSapi";
  src: url("../fonts/BaksoSapi.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-weight: normal;
  font-size: 1.5em;
}

h2,
h3 {
  font-family: BaksoSapi, "Source Sans Pro", sans-serif, Verdana;
  font-size: 1.4em;
}

.hashtag {
  font-weight: bold;
}

header {
  display: flex;
  margin: 100px 80px 90px 80px;
  align-items: center;
}

.splashIcon {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 0;
  top: -6px;
}

.adventuress {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 0;
  top: -6px;
}

.adventurer {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 0;
  top: -6px;
}

li {
  /* background-color: violet; */
  display: inline-flex;
  font-weight: bolder;
  white-space: nowrap;
}

nav {
  display: flex;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #2d3319;
}

/* NAV POSITIONS */

.adventure {
  display: flex;
}

.adventure-1,
.adventure-2 {
  position: relative;
  height: 49px;
  width: 134px;
  padding: 8px 8px 15px 15px;
}

.div_adventure-1 {
  position: relative;
  left: 80px;
  height: 49px;
  width: 134px;
  padding: 0px 0px 15px 3px;
}

.div_adventure-2 {
  position: relative;
  left: 90px;
  height: 49px;
  width: 134px;
  padding: 0px 0px 15px 3px;
}

.pages {
  display: flex;
}

.pages-1 {
  cursor: default;
  position: relative;
  left: 50px;
  height: 54px;
  width: 68px;
  top: 8px;
}
.pages-2,
.pages-3 {
  position: relative;
  height: 54px;
  width: 114px;
  top: 8px;
}

.div_pages-1 {
  position: absolute;
  right: 360px;
  height: 54px;
  width: 114px;
}

.div_pages-2 {
  position: absolute;
  padding-left: 10px;
  right: 236px;
  height: 54px;
  width: 114px;
}
.div_pages-3 {
  position: absolute;
  padding-left: 10px;
  right: 240px;
  right: 130px;
  width: 114px;
}

/* NAV POSITIONS END */

.pages-1 {
  position: relative;
  left: 50px;
  height: 54px;
  width: 114px;
}

.pages-1 a {
  color: #f2e9df;
}

.div_pages-1 {
  background-image: url(/images/small_selctor-2.png);
  background-size: contain;
  height: 54px;
  width: 114px;
  background-repeat: no-repeat;
  background-position-x: 39px;
  background-size: 60%;
}

.icons {
  position: absolute;
  right: 0;
  margin-top: 4px;
  margin-right: 80px;
}

.icons i {
  padding: 0px 4px 0px 8px;
}

.icons .fa-bars {
  display: none;
}

main {
  margin-left: 80px;
  margin-right: 80px;
}

.discount-section {
  position: relative;
  display: flex;
  margin-bottom: 110px;
}

.discount__image {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 60%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  position: relative;
}

.discount__text {
  max-width: 430px;
  min-width: 250px;
  position: relative;
  flex: 4;
  padding-right: 1em;
}

.discount__text h2 {
  margin: 0;
}

.insta-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 60em;
  flex: 3;
  right: 0;
  position: relative;
}

.insta img {
  display: flex;
  width: 100%;
}

.instagramlogo img {
  max-width: 130px;
  min-width: 70px;
}
.instagramlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 7px;
}

.environment {
  margin-bottom: 100px;
}

.environment__img {
  width: 100%;
}

.instagramlogo_2 {
  display: none;
}

@media only screen and (max-width: 1150px) {
  header {
    display: block;
  }

  .div_adventure-1 {
    position: relative;
    left: 0;
    height: 49px;
    width: 134px;
  }

  .div_adventure-2 {
    position: relative;
    left: 0;
    height: 49px;
    width: 134px;
  }

  .discount-section {
    display: block;
  }

  .instagramlogo {
    display: none;
  }

  .insta-container {
    width: 100%;
  }

  .instagramlogo_2 img {
    max-width: 100px;
    min-width: 70px;
  }

  .instagramlogo_2 {
    position: absolute;
    display: inline;
    right: 0;
    margin-top: 10px;
  }

  .discount__text {
    max-width: 750px;
    padding-right: unset;
  }
}

@media only screen and (max-width: 790px) {
  header {
    margin: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin: 0px 20px 0px 20px;
  }

  nav {
    margin: auto;
    display: block;
  }

  .adventure {
    display: flex;
    position: unset;
  }

  .pages {
    display: none;
  }

  .icons .fa-bars {
    display: inline;
    position: absolute;
    left: 0;
    top: 40px;
    margin-left: 20px;
    color: #788846;
  }

  .fa-search {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 60px;
  }

  .fa-shopping-cart {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 20px;
  }

  .icons {
    position: unset;
  }

  .discount__text {
    max-width: 450px;
  }
}

footer {
  background-image: url(/images/woodfooter.png);
  background-size: cover;
  min-width: 300px;
  min-height: 739px;
  width: 100%;
  position: absolute;
  right: 0%;
}

.Footer-style {
  margin: auto;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 280px;
  justify-content: left;
  font: 0.9em/2.5em Source Sans Pro;
  color: #f2e9df;
  align-items: center;
}

.Footer-style p a {
  text-decoration: underline;
}

.Footer-style a {
  text-decoration: none;
  color: #f2e9df;
  padding: 10px;
  /* background-color: teal; */
}

.Footer-style i {
  padding: 10px;
}

.footer-copyright {
  padding: 10px;
  font: 0.8em/1.5em Source Sans Pro;
}

@media only screen and (max-width: 475px) {
  .Footer-style {
    top: 190px;
    flex-direction: column;
    width: 300px;
  }

  .environment__p2 {
    display: none;
  }
}
