@font-face {
  font-family: "BaksoSapi";
  src: url("../fonts/BaksoSapi.otf");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::placeholder {
  font-family: "Source Sans Pro", sans-serif, verdana;
}

:focus {
  border-color: #788846;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: BaksoSapi, "Source Sans Pro", sans-serif, Verdana;
  font-size: 1.4em;
}

h4 {
  font-family: BaksoSapi, "Source Sans Pro", sans-serif, Verdana;
  font-size: 1.2em;
}

h5 {
  font-family: BaksoSapi, "Source Sans Pro", sans-serif, Verdana;
  font-size: 0.8em;
  text-decoration: none;
}

h6 {
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-size: 1em;
  font-weight: normal;
  margin: 0px 0px;
}

.hashtag {
  font-weight: bold;
}

header {
  display: flex;
  margin: 100px 80px 90px 80px;
  align-items: center;
}

.splashIcon {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 4px;
  top: 5px;
}

.adventuress {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 4px;
  top: 5px;
}

.adventurer {
  width: 33%;
  object-fit: scale-down;
  min-width: 275px;
  position: relative;
  left: 4px;
  top: 5px;
}

li {
  /* background-color: violet; */
  display: inline-flex;
  font-weight: bolder;
  white-space: nowrap;
}

nav {
  display: flex;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #2d3319;
}

/* NAV POSITIONS */

.adventure {
  display: flex;
  margin-left: 10px;
}

.adventure-1 a,
.adventure-2 a,
.pages-1,
.pages-2,
.pages-3 {
  padding: 16px 25px;
}

.pages {
  display: flex;
  position: absolute;
  right: 180px;
}

.pages-1 a {
  color: #f2e9df;
}

.div_pages-1 {
  background-image: url(/images/small_selctor-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 11px;
  background-size: 75%;
}

.icons {
  position: absolute;
  right: 0;
  margin-top: 16px;
  margin-right: 80px;
}

.icons i {
  padding: 0px 4px 0px 8px;
}

.icons .fa-bars {
  display: none;
}

main {
  margin-left: 80px;
  margin-right: 80px;
}

.discount-section {
  display: flex;
  /* margin-bottom: 110px; */
}

.discount__image {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 60%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  position: relative;
}

.discount__text {
  font-size: 1.1em;
  max-width: 600px;
  min-width: 300px;
  /* width: 300px; */
  position: relative;
  padding-right: 1em;
  margin: auto;
}

.discount__text h2 {
  margin: 0;
}

.insta-container {
  max-width: 500px;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 500px 350px;
  margin: auto;
}

.insta img {
  display: flex;
  max-width: 150px;
  min-width: 100px;
}

.instagramlogo img {
  margin-top: 5px;
  max-width: 100px;
  min-width: 70px;
}

.environment {
  margin: 50px 0px 0px 0px;
}

.environment__img {
  width: 100%;
}

.instagramlogo_2 {
  display: none;
}

@media only screen and (max-width: 1160px) {
  header {
    display: block;
  }

  .adventure {
    position: relative;
    left: -18px;
  }
}

.footer-bg {
  position: relative;
  width: 100%;
  padding-bottom: 600px;
  background-image: url(/images/woodfooter.png);
  background-repeat: no-repeat;
  background-position-y: left;
  background-size: cover;
}

.footer-position_0 {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  left: 0;
  right: 0;
  text-align: center;
  width: 325px;
}

.footer-position {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.footer-position_2 {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.footer-items {
  padding: 5px;
  font: 1em/1.5em Source Sans Pro;
  color: #f2e9df;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer-items a {
  color: #f2e9df;
  margin: 0;
}

.footer-items i {
  padding: 0px 5px;
}

.footer-copyright {
  font: 0.6em source Sans Pro;
}

@media only screen and (max-width: 800px) {
  header {
    margin: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin: 0px 10px 0px 10px;
  }

  .discount-section {
    display: flex;
    flex-direction: column;
  }

  nav {
    margin: auto;
    display: block;
  }

  .pages {
    display: none;
  }

  .icons .fa-bars {
    display: inline;
    position: absolute;
    left: 0;
    top: 40px;
    margin-left: 20px;
    color: #788846;
  }

  .fa-search {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 60px;
  }

  .fa-shopping-cart {
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 20px;
  }

  .icons {
    position: unset;
  }

  .discount__text {
    max-width: 450px;
  }
}

@media only screen and (max-width: 475px) {
  body {
    font-size: 1.3em;
  }

  .footer-items {
    font: 0.7em/1.3em Source Sans Pro;
  }

  .environment__p2 {
    display: none;
  }

  .product-details_parent,
  .product-details_text {
    display: flex;
    flex-direction: column;
  }
}

/* FORM*/

label {
  font-family: BaksoSapi, "Source Sans Pro", sans-serif, Verdana;
  font-size: 0.7em;
}

.form__input {
  display: block;
}

.form-text {
  width: 100%;
  min-width: 250px;
  max-width: 500px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset:nth-of-type(2) {
  margin-bottom: 10px;
}

textarea,
input {
  font-size: 0.9em;
  text-indent: 2px;
}

textarea {
  width: 100%;
  padding: 5px;
  min-height: 300px;
  min-width: 250px;
  max-height: 500px;
  max-width: 500px;
}

.button-container {
  top: 20px;
  position: relative;
  margin: 50px;
  display: flex;
  align-items: center;
}

.button-container strong {
  margin-right: 20px;
}

.button-style {
  min-width: 120px;
  height: 40px;
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-size: 0.9em;
  background-color: #2d3319;
  color: #f2e9df;
  border: none;
  border-radius: 4px;
}

.button-style_2 {
  min-width: 120px;
  height: 30px;
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-size: 0.9em;
  background-color: #2d3319;
  color: #f2e9df;
  border: none;
  border-radius: 4px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list_2 {
  display: flex;
}

.product-container {
  margin: 0px 10px;
}
.product-container img,
.product-container h5 {
  width: 150px;
}

.product-container a {
  text-decoration: none;
}

.product-list .product-container .product-info {
  color: #2d3319;
  text-decoration: none;
}

.product-details_parent {
  display: flex;
}

.product-details {
  display: flex;
}

.product-details_2 {
  display: flex;
  flex-direction: column;
  width: 86px;
}

.product-details_2 img {
  width: 81px;
  margin: 0px 5px 5px 0px;
}

.product-details_3 img {
  width: 250px;
}

.product-details_text {
  margin: 0px 0px 0px 20px;
}

.vl {
  border-left: 1px dashed #2d3319;
  height: 14px;
  position: relative;
  left: -23px;
  top: 23px;
  display: inline-flex;
}

.hr_product {
  border-top: 1px dashed #2d3319;
}

.product-details_text h2 {
  display: inline-flex;
}

.product-details_text h2:nth-of-type(1) {
  margin-right: 20px;
  position: relative;
}

.product-details_text h2:nth-of-type(2) {
  position: relative;
}

.product-details_text_p {
  font-size: 0.9em;
  min-width: 100px;
  max-width: 400px;
}

.product-details_text_2 {
  margin-top: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.product-details_text h1 {
  max-width: 475px;
  margin-top: 0px;
}

/* .product-details_text_2 i {
  padding: 0px 0px 0px 10px;
}

.product-details_text_2 a {
  display: none;
  padding: 0px 10px 0px 0px;
  text-decoration: none;
  color: #2d3319;
  position: absolute;
  left: 0;
  top: 280px;
  margin-left: 80px;
} */

.cart-header {
  margin-top: -20px;
  justify-content: center;
  margin-bottom: 50px;
}

.cart-product {
  width: 330px;
  /* background-color: rgb(205, 178, 230); */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.cart-product h6,
.cart-product p {
  margin: 0px 10px 10px 10px;
}

.cart-product .fas {
  margin: 2px 10px 10px 26px;
}

.promotion {
  margin: 10px 10px 40px 0px;
}

.cart-product_button {
  width: 330px;
  padding: 15px;
  font-family: "Source Sans Pro", sans-serif, Verdana;
  font-size: 1em;
  background-color: #2d3319;
  color: #f2e9df;
  border: none;
  border-radius: 4px;
}

.cart-product_2 {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* justify-content: center;
  align-content: center; */
}
