@font-face {
  font-family: "../fonts/BaksoSapi 2.otf";
  src: url("../fonts/BaksoSapi 2.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
}

h2,
h3 {
  font-family: BaksoSapi, sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1.4em;
}

.hashtag {
  font-weight: bold;
}

/* header  */

.splashIcon {
  width: 30%;
  height: 30%;
  min-width: 280px;
  object-fit: scale-down;
  align-self: center;
  padding-right: 8px;
}

header {
  /* background-color: white; */
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  flex-grow: 1;
}

ul {
  padding: 0;
  align-items: center;
  list-style: none;
  display: flex;
}

nav ul li {
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  white-space: nowrap;
}

nav ul li i,
nav ul li a {
  padding: 5px;
}

.current {
  opacity: 50%;
}

nav ul li:nth-of-type(1),
nav ul li:nth-of-type(6),
nav ul li:nth-of-type(3) {
  margin-left: auto;
}

nav ul li .fa-bars {
  display: none;
}

/* moving to hamburger menu */

@media only screen and (max-width: 700px) {
  .splashIcon {
    margin-top: 20px;
    margin: auto;
    padding: unset;
  }

  nav ul li .fa-bars {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 9%;
    margin-top: 35px;
  }

  nav {
    align-self: flex-end;
  }

  .fa-search {
    position: absolute;
    top: 0;
    right: 15.5%;
    margin-top: 35px;
  }

  .fa-shopping-cart {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 9%;
    margin-top: 35px;
  }

  nav ul li:nth-of-type(3),
  nav ul li:nth-of-type(4),
  nav ul li:nth-of-type(5) {
    display: none;
  }
}

main {
  margin-left: 9%;
  margin-right: 9%;
}

.discount-section {
  position: relative;
  display: flex;
  margin-bottom: 110px;
}

.discount__image {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 60%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  position: relative;
}

.discount__text {
  position: relative;
  flex: 1;
  padding-right: 1em;
}

.discount__text h2 {
  margin: 0;
}

.insta-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 60em;
  flex: 2;
}

.insta img {
  display: flex;
  width: 100%;
}

.instagramlogo img {
  max-width: 130px;
  min-width: 70px;
}
.instagramlogo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 7px;
}

.environment {
  margin-bottom: 100px;
}

.environment__img {
  width: 100%;
}

.instagramlogo_2 {
  display: none;
}

@media only screen and (max-width: 977px) {
  .discount-section {
    display: block;
  }

  .instagramlogo {
    display: none;
  }

  .insta-container {
    width: 100%;
  }

  .instagramlogo_2 img {
    max-width: 100px;
    min-width: 70px;
  }

  .instagramlogo_2 {
    position: absolute;
    display: inline;
    right: 0;
    margin-top: 10px;
  }
}

footer {
  background-image: url(/images/Artboard\ 2.png);
  background-size: cover;
  min-width: 300px;
  min-height: 739px;
  width: 100%;
  position: absolute;
  right: 0%;
}

.Footer-style {
  margin: auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 280px;
  justify-content: center;
  font: normal normal normal 16px/30px Source Sans Pro;
  color: #f2e9df;
  align-items: center;
}

.Footer-style a {
  text-decoration: none;
  color: #f2e9df;
}

.Footer-style a,
.Footer-style p,
.Footer-style i {
  padding: 0 9px;
}

.footer-copyright {
  font-size: 0.9em;
}

@media only screen and (max-width: 400px) {
  .Footer-style {
    flex-direction: column;
    width: 300px;
  }

  header {
    margin-left: 3%;
    margin-right: 3%;
  }

  main {
    margin-left: 3%;
    margin-right: 3%;
  }

  .fa-shopping-cart {
    margin-right: 5%;
  }

  .fa-search {
    right: 16.5%;
  }

  nav ul li .fa-bars {
    margin-left: 5%;
  }

  .environment__p2 {
    display: none;
  }
}
