@font-face {
  font-family: "../fonts/BaksoSapi 2.otf";
  src: url("../fonts/BaksoSapi 2.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9df;
  color: #2d3319;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}

h2,
h3 {
  font-family: BaksoSapi, sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1.5em;
}

span {
  font-weight: bold;
}

/* header  */

.splashIcon {
  width: 30%;
  height: 30%;
  min-width: 224px;
  min-height: 65px;
  object-fit: scale-down;
  align-self: center;
  padding-right: 8px;
}

header {
  margin-left: 9.7%;
  margin-right: 8.7%;
  margin-top: 127px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  flex-grow: 1;
  /* background-color: aqua; */
}

ul {
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  /* background-color: blueviolet; */
  text-decoration: none;
  font-weight: bold;
  display: inline;
  padding: 4px;
  flex-wrap: wrap;
}

.div_1 a:nth-of-type(1),
.div_1 a:nth-of-type(2) {
  padding-right: 8px;
  padding-left: 8px;
}

nav ul li i {
  padding: 5px;
}

.div_1 {
  margin-left: auto;
}

.div_2 {
  margin-left: auto;
}

.div_3 {
  display: none;
}

.div_4 {
  margin-left: auto;
}

/* media queries */

@media only screen and (max-width: 960px) {
  .div_3 {
    display: inline-block;
    margin-left: auto;
    /* background-color: yellow; */
  }
  .div_4 {
    margin-left: 0;
    /* background-color: violet; */
  }
  .div_2 {
    display: none;
  }
  .splashIcon {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 540px) {
  nav ul {
    display: inline-block;
  }

  nav {
    flex-grow: 0;
    margin: auto;
  }

  .div_4 {
    display: unset;
  }

  .div_1 {
    padding: 0px 0px 8px 0px;
  }

  .div_1 a:nth-of-type(1),
  .div_1 a:nth-of-type(2) {
    padding-right: 2px;
    padding-left: 2px;
  }
}

/* Footer */

footer {
  position: absolute;
  top: 2200px;
  left: 0px;
  width: 100%;
  height: 739px;
  background: transparent url("../images/Artboard\ 2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.FooterLinks {
  top: 369.5px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #f2e9df;
  opacity: 1;
  letter-spacing: 0px;
  font: normal normal normal 18px/59px Source Sans Pro;
  opacity: 1;
}

footer .left {
  text-align: right;
  margin: 10px;
}

footer .right {
  text-align: left;
  margin: 10px;
}

footer .right a {
  text-decoration: none;
  color: #f2e9df;
}

footer i {
  margin-left: 10px;
  padding: 10px;
}

/* home page */

main {
  margin-left: 9%;
  margin-right: 9%;
}

/* section 1 */

.discount__section {
  background: transparent url("../images/heart.png") no-repeat;
  background-size: 60%;
  background-position-x: 50%;
  background-position-y: 20%;
  background-position: top;
  object-fit: scale-down;
  height: 750px;
}

.discount__text {
  top: 20%;
  margin-left: 0.8%;
  position: relative;
}

/* section 1 _ instagram  */

.flexbox-container {
  position: absolute;
  top: 360px;
  right: 9%;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}
.flexbox-item {
  width: 200px;
  height: 200px;
}

* .flexbox-item {
  background-repeat: no-repeat;
  background-size: cover;
}

.flexbox-item-1 {
  background-image: url("../images/insta.png");
}
.flexbox-item-2 {
  background-image: url("../images/insta_2.png");
}
.flexbox-item-3 {
  background-image: url("../images/insta_3.png");
}
.flexbox-item-4 {
  background-image: url("../images/insta_4.png");
}
.flexbox-item-5 {
  background-image: url("../images/insta_5.png");
}
.flexbox-item-6 {
  background-image: url("../images/insta_6.png");
}

/* section 2 */

.environment {
  position: relative;
}

.environment__img {
  width: 100%;
}
